<header>
  <h2>Edit Provider</h2>
</header>

<section class="form-holder">
  <%= render 'form' %>
</section>

<% content_for :sidebar do %>
  <ul class="side-nav">
    <li><%= link_to 'All Providers', providers_path %></li>
    <li><%= link_to 'View Provider', @provider %></li>
  </ul>
<% end %>
