<div id="trip-ticket-comment-new">
  <h1>New Comment</h1>

  <%= render 'form' %>

  <%= link_to 'Comments', trip_ticket_trip_ticket_comments_path(@trip_ticket) %>
  <%= link_to 'Trip Ticket Details', trip_ticket_path(@trip_ticket) %>
</div>