<header>
  <h2>New Trip Ticket Comment</h2>
</header>

<section class="form-holder">
  <%= render 'form' %>
</section>

<% content_for :sidebar do %>
  <ul class="side-nav">
    <li><%= link_to 'All Comments for Trip Ticket', trip_ticket_trip_ticket_comments_path(@trip_ticket) %></li>
    <li><%= link_to 'Trip Ticket Details', trip_ticket_path(@trip_ticket) %></li>
  </ul>
<% end %>
