<div class="padded">
  <header>
    <h2>New Mobility Accommodation</h2>
  </header>

  <section class="form-holder">
    <%= render 'form' %>
  </section>
</div>

<% content_for :sidebar do %>
  <ul class="side-nav">
    <li><%= link_to "Provider Details", provider_path(@mobility_accommodation.service.provider) + "#service-#{ @mobility_accommodation.service.id }-mobility-accommodations" %></li>
  </ul>
<% end %>
