<div class="padded">
  <header>
    <h2>Mobility Accommodation</h2>
  </header>

  <section style="margin-left: 1em">
    <div style="margin-left:1em; margin-top:1em">
      <p><b>Mobility Impairment</b></p>
      <p><%= @mobility_accommodation.mobility_impairment %></p>
    </div>
  </section>

</div>

<% content_for :sidebar do %>
  <ul class="side-nav">
    <li><%= link_to "Provider Details", provider_path(@mobility_accommodation.service.provider) + "#service-#{ @mobility_accommodation.service.id }-mobility-accommodations" %></li>
    <li><%= link_to 'Edit Accommodation', edit_mobility_accommodation_path(@mobility_accommodation) %></li>
    <li><%= link_to 'Delete Accommodation', @mobility_accommodation, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
<% end %>
