<header>
  <h2>Edit Trip Claim</h2>
</header>

<section class="form-holder">
  <%= render 'form' %>
</section>

<section id="audit_trail">
  <%= render 'shared/audit_trail', :record => @trip_claim %>
</section>

<% content_for :sidebar do %>
  <ul class="side-nav">
    <li><%= link_to 'Trip Claims', trip_claims_path %></li>
    <li><%= link_to 'Trip Ticket Details', trip_ticket_path(@trip_ticket) %></li>
  </ul>
<% end %>
