<div id="trip-claim-edit">
  <h2>Editing trip_claim</h2>

  <%= render 'form' %>

  <%= link_to 'Trip Claims', trip_claims_path %><br>
  <%= link_to 'Trip Ticket Details', trip_ticket_path(@trip_ticket) %>

  <hr />
  <div id="audit_trail">
    <%= render 'shared/audit_trail', :record => @trip_claim %>
  </div>
</div>