<div class="padded">
  <header>
    <h2>Edit Trip Claim</h2>
  </header>

  <section class="form-holder">
    <%= render 'form' %>
  </section>

  <section id="audit_trail">
    <%= render 'shared/audit_trail', :audits => @trip_claim.audits %>
  </section>
</div>

<% content_for :sidebar do %>
  <ul class="side-nav">
    <li><%= link_to 'Trip Claims', trip_ticket_trip_claims_path(@trip_ticket) %></li>
    <li><%= link_to 'Trip Ticket Details', trip_ticket_path(@trip_ticket) %></li>
  </ul>
<% end %>
