<header>
  <h2>Users</h2>
</header>

<%= render 'list', :users => @users, :show_provider => true %>

<% content_for :sidebar do %>
  <ul class="side-nav">
    <li><%= link_to 'New User', new_user_path %></li>
  </ul>
<% end %>