<li>
  <%= link_to formatted_activity_line(activity), activity.is_a?(TripResult) ? trip_ticket_trip_result_path(activity.trip_ticket) : [activity.trip_ticket, activity], data: {:"activity-type" => activity.class.name.underscore} %>
</li>