<h1>New Provider Relationship</h1>

<%= render 'form' %>

<% if @current_user.provider.present? %>
  <%= link_to 'Back', @current_user.provider %>
<% else %>
  <%= link_to 'Back', providers_path %>
<% end %>
