@import 'utilities';

$form_label_width: 225px;
$form_label_padding_right: 10px;

.field_with_errors {
  background-color: #c00;
  padding: 0 0 2px;
  
  label {
    color: #fff !important;
  }
}

.error_explanation, #error_explanation {
  /*width: 450px;*/
  border: 2px solid #c00;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.row_with_errors {
  border: 2px solid red;
}

.ui-datepicker-trigger {
  background:url(image-path("sprite1.png")) no-repeat 0 -710px;
  height:16px;
  margin:0 0 3px 0;
  overflow:hidden;
  text-indent:-9999px;
  width:16px;
  border:none;
  cursor:pointer;
}

form {
  input[type=button],
  input[type=color],
  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=email],
  input[type=file],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=search],
  input[type=submit],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week],
  a.button span {
    height:1.2em;
    padding:3px 5px;
  }
  
  input[type=button],
  input[type=submit] {
    height:2em;
  }

  select {
    height:auto;
    padding:3px 0;
  }
  
  textarea {
    padding:3px 5px;
  }

  input[type=submit]:hover {
    cursor:pointer;
  }
  
  input[type=checkbox] {
    float:left;
    height:1em;
    margin:1px 8px 0 0;
    padding:0;
    width:16px;
  }
}

.placeholder {
  // styling for the jQuery Placeholder plugin
  color: #aaa;
}

fieldset {
  border:0 none;
  margin:0 0 14px;
  padding:0;

  legend {
    color:#333;
    font-weight:700;
    margin:0 0 6px 0;
  }
}

.field {
  overflow:hidden;
  padding:0 0 17px;
  
  label {
    float:left;
    padding:4px $form_label_padding_right 0 0;
    width:$form_label_width;
    
    &.required {
      color: #c00;
    }
  }
  
  &.field-with-checkbox {    
    label {
      width:auto;
      float:none;
      padding:0;
    }
  }

  .field-align {
    margin-left:$form_label_width + $form_label_padding_right;
  }
}

.buttons-holder {
  background: url(image-path("sprite1.png")) no-repeat 100% -438px;
  display: inline-block;
  padding:1px 6px 0 0;
  overflow:hidden;
  /* text-align:right; */

  &.field-align {
    margin-left:$form_label_width + $form_label_padding_right;
  }

  input[type=button].button,input[type=submit].button,a.button span {
    background:url(image-path("sprite1.png")) no-repeat 0 -410px;
    border:0;
    color:#fff;
    height:27px;
    line-height:26px;
    vertical-align: top;
    margin:0 0 0 7px;
    padding:0 14px 2px 20px;
    text-shadow: 0px 0px 4px #333;
    filter: dropshadow(color=#000000, offx=-1, offy=1);
    
    &:first-child {
      margin-left:0;
    }
  }
  
  a.button {
    background: url(image-path("sprite1.png")) no-repeat 100% -439px;
    color:#fff;
    display: inline-block;
    overflow:hidden;
    padding:0 6px 0 0;
    text-shadow: 0px 0px 4px #333;
    filter: dropshadow(color=#000000, offx=-1, offy=1);
    
    span {
      display: inline-block;
    }

    &.button-cancel {
      background:url(image-path("sprite1.png")) no-repeat 100% -379px;    

      span {
        background:url(image-path("sprite1.png")) no-repeat 0 -350px;
      }
    }

    &:hover {
      text-decoration:none;
    }
  }
}

ul.ui-autocomplete {
  width: 233px;
  list-style-type: none;
  padding: 4px;
  li {
    padding-bottom: 4px;
    a {
      padding: 2px;
    }
  }
}

/* Specific forms */

.form-filter {
  .field {
    padding-bottom: 12px;
  }

  .details-box {
    .opener {
      background:url(image-path("sprite1.png")) no-repeat 2px 4px;
      font-size:14px;
      line-height:16px;
      padding:0 0 0 18px;
    }

    &.active .opener {
      background-position:-1px -86px;
    }

    .slide {
      padding: 12px 0;
    }
  }
}
