/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 *= require jquery-ui-1.10.0.custom
 *= require jquery-ui-timepicker-addon
 *= require jcf
 */

/* General Content */

html {
  min-width:1280px;
  height:100%;
}

body {
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  background:#dedede url(image-path("bg-body.gif")) repeat-y 50% 0;
  color:#444;
  font:12px/14px 'Open Sans', Arial, Helvetica, sans-serif;
  height:100%;
  margin:0;
  min-width:1280px;
  
  &.alt-body {
    background:#ededed url(image-path("bg-body2.gif")) repeat-y 50% 0;
  }

  a {
    color:#444;
    text-decoration:none;

    &:active {
      background-color:transparent;
    }

    &:hover,&:focus {
      text-decoration:underline;
    }
  }

  .image-holder img,.map-holder img {
    vertical-align:top;
  }
  
  .padded {
    padding-left:10px;
    padding-right:10px;
  }
}
