/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require _tables
 *= require_self
 */

/* General Content */

body {
  color:#444;
  font:12px/14px 'Open Sans', Arial, Helvetica, sans-serif;
  
  a {
    color:#444;
  }
  
  .table-condensed {
    width: auto;
  }
}