body[data-controller="reports"] {
  /*
  .reports-list {
    background:#ededed;
    font-size:14px;
    line-height:16px;
    list-style:none;
    margin:0;
    overflow:hidden;
    padding:23px 10px 20px 36px;
  
    li {
      float:left;
      padding:0 0 15px;
      width:100%;
    }
  
    heading {
      line-height:18px;
      padding-bottom:18px;
    
      .title {
        font-size:16px;
        padding-top:0;
      }
    
      strong {
        font-weight:normal;
      }
    
      .date-holder {
        padding-top:3px;
      }
    }
  
    .title {
      float:left;
      padding:3px 10px 0 0;
      width:215px;
    }
  
    .date-holder {
      float:left;
      min-width:170px;
      padding:0 10px 0 0;
    
      .text {
        background:#fff;
        border:1px solid #ccc;
        color:#666;
        float:left;
        font-size:12px;
        line-height:14px;
        margin:0 6px 0 0;
        padding:3px 4px 4px;
        width:99px;
      }
    }
  
    .btn-print {
      background:url(image-path("sprite1.png")) no-repeat 100% -436px;
      color:#fff;
      float:left;
      font:14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin:-2px 0 0;
      padding:0 6px 0 0;
    }
  }
  */
}
