body[data-controller="trip_tickets"] {
  /*
  .tickets-list.small-list li {
    background:#f8f8f8;
    padding:8px 10px 3px 7px;
  }

  .tickets-list.small-list heading {
    font-size:14px;
    line-height:16px;
    overflow:hidden;
    padding:0 0 7px;
  }

  .tickets-list.small-list heading .time {
    background:url(image-path("separator01.gif")) no-repeat 100% 2px;
    float:left;
    margin:0 7px 0 0;
    padding:0 8px 0 0;
  }

  .tickets-list.small-list heading .title {
    float:left;
    font-family:'Open Sans', sans-serif;
    margin:0;
  }

  .tickets-list.small-list .description .column {
    float:left;
    margin:0;
    width:151px;
  }

  .tickets-list.small-list .description .column:first-child {
    padding:0 10px 0 0;
    width:212px;
  }

  .tickets-list.small-list .description p {
    margin:0 0 5px;
  }

  .tickets-list.small-list .description .date {
    background:url(image-path("icon02.png")) no-repeat 100% 1px;
    display:block;
    font-style:normal;
    margin:0;
    overflow:hidden;
    padding:1px 10px 5px 0;
  }

  .tickets-list.small-list .date span {
    background:url(image-path("separator02.gif")) no-repeat 100% 3px;
    float:left;
    margin:0 6px 0 0;
    padding:0 7px 0 0;
  }

  .tickets-list.small-list .date .note {
    background:none;
    font-size:9px;
    font-weight:700;
    margin:0;
  }
  */
}