<div class="padded">
  <header>
    <h2>Edit Saved Filter</h2>
  </header>

  <section class="form-holder">
    <%= render 'form' %>
  </section>
</div>

<% content_for :sidebar do %>
  <ul class="side-nav">
    <li><%= link_to 'Saved Filters', filters_path %></li>
    <li><%= link_to 'Saved Filter Details', filter_path(@filter) %></li>
  </ul>
<% end %>
